{% extends 'base3.html' %}

{% block title %}
    About the project
{% endblock %}

{% block content %}
    <p class=heading>Jaki jest cel projektu?</p>
    <p>Edukowanie studentów w zakresie współpracy w zespole, umiejętności miękkich, 
    korzystania z narzędzi do pracy w zespole np. git oraz tworzenia oprogramowania.</p>
    <br />
    <p class=heading>Dla kogo jest skierowany?</p>
    <p>Projekt jest skierowany do studentów którzy programują lub znają podstawy w zakresie
    programowania.</p>
    <br />
    <p class=heading>Jaki będzie efekt końcowy?</p>
    <p>Powstanie strony internetowej, gdzie studenci łączą się w 3-4 osobowe zespoły, 
    a następnie przystępują do kursu który będzie kończył się otrzymaniem certyfikatu 
    za ukończenie kursu.</p>
{% endblock %}