<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='css/mainA.css') }}>
    <title>ABOUT</title>
</head>
<body>
<table>
<tr>
<td><a href={{ url_for('start') }}>start</a></td>
<td><a href={{ url_for('maciej') }}>maciej</a></td>
</tr>
</table>
<p class=heading>Jaki jest cel projektu?</p>
<p>Edukowanie studentów w zakresie współpracy w zespole, umiejętności miękkich, 
korzystania z narzędzi do pracy w zespole np. git oraz tworzenia oprogramowania.</p>
<br />
<p class=heading>Dla kogo jest skierowany?</p>
<p>Projekt jest skierowany do studentów którzy programują lub znają podstawy w zakresie
programowania.</p>
<br />
<p class=heading>Jaki będzie efekt końcowy?</p>
<p>Powstanie strony internetowej, gdzie studenci łączą się w 3-4 osobowe zespoły, 
a następnie przystępują do kursu który będzie kończył się otrzymaniem certyfikatu 
za ukończenie kursu.</p>
    
</body>
</html>